<!doctype html>
<html class="no-js">
<head>
	<title>DAppsClub</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

	
    <!--360 browser -->
    <!--<meta name="renderer" content="webkit">-->
    <!--<meta name="author" content="wos">-->
    <!-- Android -->
    <!--<meta name="mobile-web-app-capable" content="yes">-->
 <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <!--Safari on iOS -->
    <!--<meta name="apple-mobile-web-app-capable" content="yes">-->
    <!--<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
    <!--<meta name="apple-mobile-web-app-title" content="Link Coo"/>-->
    <!--<link rel="apple-touch-icon-precomposed" href="/images/i/ico.png">-->
    <!--Win8 or 10 -->
    <!--<meta name="msapplication-TileImage" content="/images/i/ico.png">-->
    <!--<meta name="msapplication-TileColor" content="#e1652f">-->
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/public-index.css">
	<link rel="stylesheet" type="text/css" href="/css/tab-navi.css">
    <link rel="stylesheet" type="text/css" href="/css/tab-news.css">
	

    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="/assets/js/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lte IE 8 ]>
    <![endif]-->
    <script src="/assets/js/amazeui.min.js"></script>
    <script src="/js/public.js"></script>
    <script type="text/javascript">
	    
    </script>
    <style>
    
	</style>
</head>
<body>

<header class="am-topbar am-topbar-fixed-top wos-header">
    <div class="am-container">
        <h1 class="am-topbar-brand">
            <!-- <a href="#"><img src="images/logo.png" alt=""></a> -->
			<span style="font-size:3rem;font-family: '微软雅黑';color:#24b300">DAppsClub<span style="font-size:1.5rem;margin-left:5px;margin-bottom:0px;"></span></span>
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-warning am-show-sm-only"
                data-am-collapse="{target: '#collapse-head'}">
            <span class="am-sr-only" >导航切换</span>
            <span class="am-icon-bars"></span>
        </button>

        <div class="am-collapse am-topbar-collapse" id="collapse-head">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li class="am-active" ><a href="#" style="color:#24b300">区块链导航站</a></li>
                <!-- <li><a href="zixun.html">资讯</a></li>
                <li><a href="category.html">专栏</a></li>
                <li><a href="events.html">论坛</a></li> -->
            </ul>

            <!--<div class="am-topbar-right">
                <button class="am-btn am-btn-default am-topbar-btn am-btn-sm"><span class="am-icon-pencil"></span>注册</button>
            </div>

            <div class="am-topbar-right">
                <button class="am-btn am-btn-danger am-topbar-btn am-btn-sm"><span class="am-icon-user"></span> 登录</button>
            </div>-->
        </div>
    </div>
</header>
<!--banner-->
<div class="tab-news">
<!--tab1-->
	<div class="am-container">
		<ul class="padding-none banner2 am-gallery   am-avg-sm-2 am-avg-md-4 am-avg-lg-4    am-gallery-overlay" data-am-gallery="{ pureview: true }" > <!--*am-avg-sm-2*-->
			<li style="width:40%;" class="li-toutiao">
			    <div class="cat-name">
					<span class="base">Club头条</span>
					<span class="arrow"></span>
			    </div>
				<div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{"directionNav":false}'>
					<ul class="am-slides">
					  <li>
							<div style="font-size:14px;">
								<a href="news-detail.html">
									<img src="/images/news/top-001.jpg" > <!--600*400 1.5:1-->
									<div class="pet_slider_font">  
										<span>详解以太坊的工作原理</span>
									</div>
									<div class="detail">
									不管你们知不知道以太坊（Ethereum blockchain）是什么，但是你们大概都听说过以太坊。最近在新闻里出现过很多次，包括一些专业杂志的封面，但是如果你们对以太坊到底是什么没有一个基本的了解的话，看这些文章就会感觉跟看天书一样。 所以，什么是以太坊？本质上，就是一个保存数字交易永久记录的公共数据库
									</div>
									<div class="pet_slider_shadow"></div>
								</a>
							</div>
					  </li>
					  <li>
							<a href="#">
							<img src="/images/news/top-002.jpg">
								<div class="pet_slider_font">
									<span>深圳市将发布《深圳市扶持金融业发展若干措施》，奖励区块链、数字货币等金融创新</span>
								</div>
								<div style="font-size:14px;" class="detail">
									10月9日，深圳市人民政府向各区人民政府，市政府直属各单位印发《深圳市扶持金融业发展若干措施》（以下简称“《若干措施》”）。深圳市政府表示，此举是为进一步完善金融支持政策体系，吸引集聚优质金融资源，推动全市金融业可持续均衡发展，加快建设国际化金融创新中心。

					《若干措施》共分五大项，33条。内容包括：坚持服务导向，优化金融政策环境；发展金融总部经济，鼓励金融总部企业做大做强；
								</div>
								<div class="pet_slider_shadow"></div>
							</a>
					  </li>
					  <li>
							<a href="#">
								<img src="/images/news/top-003.jpg">
								<div class="pet_slider_font">
									<span>比原通过Howey测试，成为首个在美非证券类区块链项目</span>
								</div >
								<div style="font-size:14px;" class="detail"> 近日，美国旧金山律师事务所Velton·Zegelman PC发布对中国区块链项目Bytom 比原链的“Howey Test”报告，报告对比原链的经济白皮书和技术白皮书进行了详细研究分析，并参考中方中伦文德律师事务所对比原链的代币销售提供的法律意见书，认为：比原链BTM不属于证券，故不必纳入SEC（美国证监会）的证券类监管范畴。
								</div>
								<div class="pet_slider_shadow"></div>
							</a>
					  </li>
					</ul>
				</div>
			</li>
			<li style="width:30%;">
				<div class="news-middle" style="width:99%;float:left;padding-left:5px;">
				  <figure class="news-middle-fig-top">
				   <img src="images/300/m-001.jpg" alt="Thumbnail 3" />
				   <div class="cat-name">
					<span class="base">区块链资讯</span>
					<span class="arrow"></span>
				   </div>
				  </figure>
				  <div class="text">
					   <h2><a href="single_post.html" title="View permalink House in The Woods">北美区块链协会谭磊：我眼里的区块链技术，是这样的，怎么样的呢</a></h2>
					   <p class="text-focus">说到区块链技术，总会有一个关键词与其密切相连——颠覆性。很多业内人士都认为，区块链技术是继蒸汽机、电力、互联网之后的下一代颠覆性的核心技术。作为以构造...</p>
					   <div class="news-middle-block-list">
							<div class="item"> <!--750*450 1.666:1-->
								 <figure class="pull-left"><img src="images/300/1.jpg" alt="Thumbnail 1" /></figure>
								 <div class="pull-right content">
								  <h4><a href="/new-detail.ejs" title="哈萨克斯坦央行：个人加密货币交易活动应受到限制">哈萨克斯坦央行：个人加密货币交易活动应受到限制</a></h4>
								  <p class="meta">349 views&nbsp;&nbsp;|&nbsp;&nbsp;49 comments</p>
								 </div>
							</div>
							<div class="item">
							 <figure class="pull-left"><img src="images/300/2.jpg" alt="Thumbnail 2" /></figure>
								<div class="pull-right content">
									  <h4><a href="#" title="英国金融管理局：分布式账本技术创业公司遭受银行打压，无法获得银行服务">英国金融管理局：分布式账本技术创业公司遭受银行打压，无法获得银行服务</a></h4>
									  <p class="meta">283 views&nbsp;&nbsp;|&nbsp;&nbsp;42 comments</p>
								</div>
							</div>
							<div class="item">
							  <figure class="pull-left"><img src="images/300/2.jpg" alt="Thumbnail 2" /></figure>
								 <div class="pull-right content">
									<h4><a href="#" title="英国金融管理局：分布式账本技术创业公司遭受银行打压，无法获得银行服务">英国金融管理局：分布式账本技术创业公司遭受银行打压，无法获得银行服务</a></h4>
								  <p class="meta">283 views&nbsp;&nbsp;|&nbsp;&nbsp;42 comments</p>
								 </div>
							</div>
					   </div>
				  </div>
				</div>
			</li>
			<li style="width:30%;">
				<div class="news-middle" style="width:99%;float:right;">
				  <figure class="news-middle-fig-top">
				   <img src="images/300/r-001.jpg" alt="title" />
				   <div class="cat-name">
					<span class="base">货币资讯</span>
					<span class="arrow"></span>
				   </div>
				  </figure>
				  <div class="text">
						<h2><a href="single_post.html" title="View permalink House in The Woods">北美区块链协会谭磊：我眼里的区块链技术，是这样的，怎么样的呢</a></h2>
					   <p class="text-focus">说到区块链技术，总会有一个关键词与其密切相连——颠覆性。很多业内人士都认为，区块链技术是继蒸汽机、电力、互联网之后的下一代颠覆性的核心技术。作为以构造信任为主的新兴技术，区块链可能将彻底改变整个人类社会的价值传递方式。</p>
					   <div class="news-middle-block-list">
							<div class="item"> <!--750*450 1.666:1-->
								 <figure class="pull-left"><img src="images/300/1.jpg" alt="Thumbnail 1" /></figure>
								 <div class="pull-right content">
								  <h4><a href="http://www.8btc.com/kazakhstan-limit-cryptocurrency-trading" title="哈萨克斯坦央行：个人加密货币交易活动应受到限制">哈萨克斯坦央行：个人加密货币交易活动应受到限制</a></h4>
								  <p class="meta">349 views&nbsp;&nbsp;|&nbsp;&nbsp;49 comments</p>
								 </div>
							</div>
							<div class="item">
							 <figure class="pull-left"><img src="images/300/2.jpg" alt="Thumbnail 2" /></figure>
								<div class="pull-right content">
									  <h4><a href="http://www.8btc.com/uk-regulator-finds-dlt-businesses-have-trouble-seeing-loans" title="英国金融管理局：分布式账本技术创业公司遭受银行打压，无法获得银行服务">英国金融管理局：分布式账本技术创业公司遭受银行打压，无法获得银行服务</a></h4>
									  <p class="meta">283 views&nbsp;&nbsp;|&nbsp;&nbsp;42 comments</p>
								</div>
							</div>
							<div class="item">
							  <figure class="pull-left"><img src="images/300/2.jpg" alt="Thumbnail 2" /></figure>
								 <div class="pull-right content">
									<h4><a href="http://www.8btc.com/uk-regulator-finds-dlt-businesses-have-trouble-seeing-loans" title="英国金融管理局：分布式账本技术创业公司遭受银行打压，无法获得银行服务">英国金融管理局：分布式账本技术创业公司遭受银行打压，无法获得银行服务</a></h4>
								  <p class="meta">283 views&nbsp;&nbsp;|&nbsp;&nbsp;42 comments</p>
								 </div>
							</div>
					   </div>
				  </div>
				</div>
			</li>
		</ul>
	</div>

</div>

<div class="tab-navi">
<!--tab1-->
	<div class="am-container">
		 <div class="sub-navi-top">
	        <h2 class="sub-navi-title"><span>区块链平台</span><a href="#">查看更多<img src="/images/sub-navi/more-ico.png" /></a></h2>
	        <p class="sub-navi-title-desc"></p>
	     </div><!-- /.post-area-top -->
	    <ul class="padding-none banner2 am-gallery am-avg-sm-2 am-avg-md-4 am-avg-lg-4 am-gallery-overlay" data-am-gallery="{ pureview: true }" >
	        <li>
	          <!--   <div class="am-gallery-item " > -->
				<div class="item-detail" id="item-detail-hover">
					<div class="item-detail-above">
						<div class="figure-box"> <!--500*400 1.25:1-->
							<figure class="fig-normal"><img src="/images/sub-navi/sub-navi1-00001.jpg"/></figure>
							<figure class="fig-turn"><img src="/images/sub-navi/sub-navi1-00001.jpg"/></figure>
						</div>
						<div class="item-detail-above-title">
							<h3>BitSharesX</h3>
							<p>
						比特股是一个去中心化的支付系统,不同与任何运行在互联网上的其他系统,它的服务器是由分散在世界各地的受托人维护的,即使其中一些人被攻击也不会导致整个系统宕机</p>
						</div>
					</div>
					<div class="item-detail-bellow">
						<h4 ><a href="https://bitshares.org/">BTS官网</a></h4>
						<h4 class="bellow-middle"><a href="http://docs.bitshares.eu/bitshares/papers/index.html">白皮书</a></h4>
						<h4 ><a href="https://github.com/bitshares">github源码</a></h4>
					</div>
				</div>
	           <!--  </div> -->
	        </li>
	        <li>
				<div class="item-detail" id="item-detail-hover">
					<div class="item-detail-above">
						<div class="figure-box">
							<figure class="fig-normal"><img src="/images/sub-navi/sub-navi1-00002.jpg"></figure>
							<figure class="fig-turn"><img src="/images/sub-navi/sub-navi1-00002.jpg"></figure>
						</div>
						<div class="item-detail-above-title">
							<h3>以太坊</h3>
							<p>
						以太坊（Ethereum）并不是一个机构，而是一款能够在区块链上实现智能合约、开源的底层系统，以太坊从诞生到2017年5月，短短3年半时间，全球已有200多个以太坊应用诞生</p>
						</div>
					</div>
					<div class="item-detail-bellow">
						<h4 ><a href="https://ethereum.org/">ETH官网</a></h4>
						<h4 class="bellow-middle"><a href="https://github.com/dappsclub/ethereumPaper/">白皮书</a></h4>
						<h4 ><a href="https://github.com/ethereum/">github源码</a></h4>
					</div>
				</div>
	        </li>
	        <li>
	            <div class="item-detail" id="item-detail-hover">
					<div class="item-detail-above">
						<div class="figure-box">
							<figure class="fig-normal"><img src="/images/sub-navi/sub-navi1-00003.jpg"></figure>
							<figure class="fig-turn"><img src="/images/sub-navi/sub-navi1-00003.jpg"></figure>
						</div>
						<div class="item-detail-above-title">
							<h3>IPFS</h3>
							<p>
						星际文件系统IPFS（InterPlanetary File System）是一个面向全球的、点对点的分布式版本文件系统，目标是为了补充（甚至是取代）目前统治互联网的超文本传输协议（HTTP），将所有具有相同文件系统的计算设备连接在一起。原理用基于内容的地址替代基于域名的地址，也就是用户寻找的不是某个地址而是储存在某个地方的内容，不需要验证发送者的身份，而只需要验证内容的哈希，通过这样可以让网页的速度更快、更安全、更健壮、更持久。</p>
						</div>
					</div>
					<div class="item-detail-bellow">
						<h4 ><a href="http://ipfs.io/">IPFS官网</a></h4>
						<h4 class="bellow-middle"><a href="https://github.com/dappsclub/ipfs/">白皮书</a></h4>
						<h4 ><a href="https://github.com/ipfs">github</a></h4>
					</div>
	            </div>
	        </li>
	        
			<li>
				<div class="item-detail" id="item-detail-hover">
					<div class="item-detail-above">
						<div class="figure-box">
							<figure class="fig-normal"><img src="/images/sub-navi/sub-navi1-00004.jpg"></figure>
							<figure class="fig-turn"><img src="/images/sub-navi/sub-navi1-00004.jpg"></figure>
						</div>
						<div class="item-detail-above-title">
							<h3>EOS</h3>
							<p>
							EOS是一个区块链操作系统，它为应用开发者提供了数据库，账号许可，进程调度，验证以及互联网应用通信等功能。因此，EOS为开发者提供了必要的工具，使得开发者可以专注于他们应用的业务逻辑，而不需要关心类似加密实现或者是与去中心化计算机通信的问题。而且，EOS将使用并行技术，这使得区块链的拓展性有可能达到每秒百万级的通信量。</p>
						</div>
					</div>
					<div class="item-detail-bellow">
						<h4 ><a href="https://eos.io/">EOS官网</a></h4>
						<h4 class="bellow-middle"><a href="https://github.com/EOSIO/Documentation">白皮书</a></h4>
						<h4 ><a href="https://github.com/EOSIO">github</a></h4>
					</div>
				</div> 
	        </li>
	    </ul>
	</div>

</div>
<div class="tab-navi">
<!--tab1-->
	<div class="am-container">
		 <div class="sub-navi-top">
	        <h2 class="sub-navi-title"><span>企业级区块链</span><a href="#">查看更多<img src="/images/sub-navi/more-ico.png" /></a></h2>
	        <p class="sub-navi-title-desc"></p>
	     </div><!-- /.post-area-top -->
	    <ul class="padding-none banner2 am-gallery am-avg-sm-2 am-avg-md-4 am-avg-lg-4 am-gallery-overlay" data-am-gallery="{ pureview: true }" >
	        <li>
	          <!--   <div class="am-gallery-item " > -->
				<div class="item-detail" id="item-detail-hover">
					<div class="item-detail-above">
						<div class="figure-box"> <!--500*400 1.25:1-->
							<figure class="fig-normal"><img src="/images/sub-navi/sub-navi3-00001.jpg"></figure>
							<figure class="fig-turn"><img src="/images/sub-navi/sub-navi3-00001.jpg"></figure>
						</div>
						<div class="item-detail-above-title">
							<h3>Fabric</h3>
							<p>
							IBM HyperLeger 又叫 fabric，你可以把它想象成一个由全社会来共同维护的一个超级账本，没有中心机构拥揽权力，你的每一笔交易都是全网公开且安全的，信用由全社会共同见证。它与Bitcoin的关系就是，你可以利用fabric构建出一个叫Bitcoin的应用来帮助你change the world。
							</p>
						</div>
					</div>
					<div class="item-detail-bellow">
						<h4 ><a href="https://hyperledger.org/projects/fabric">Fabric官网</a></h4>
						<h4 ><a href="https://github.com/hyperledger/fabric">github源码</a></h4>
					</div>
				</div>
	           <!--  </div> -->
	        </li>
	        <li>
				<div class="item-detail" id="item-detail-hover">
					<div class="item-detail-above">
						<div class="figure-box">
							<figure class="fig-normal"><img src="/images/sub-navi/sub-navi3-00002.jpg"></figure>
							<figure class="fig-turn"><img src="/images/sub-navi/sub-navi3-00002.jpg"></figure>
						</div>
						<div class="item-detail-above-title">
							<h3>Corda</h3>
							<p>Corda是由R3CEV推出的一款分布式账本平台，其借鉴了区块链的部分特性，例如UTXO模型以及智能合约，但它在本质上又不同于区块链，并非所有人都可以使用这种平台，其面向的是银行间或银行与其商业用户之间的互操作场景。</p>
						</div>
					</div>
					<div class="item-detail-bellow">
						<h4 ><a href="https://www.corda.net/">Corda官网</a></h4>
						<h4 class="bellow-middle"><a href="https://github.com/dappsclub/whitepapers/corda">白皮书</a></h4>
						<h4 ><a href="https://github.com/corda">GitHub</a></h4>
					</div>
				</div>
	        </li>
	        <li>
	            <div class="item-detail" id="item-detail-hover">
					<div class="item-detail-above">
						<div class="figure-box">
							<figure class="fig-normal"><img src="/images/sub-navi/sub-navi3-00003.jpg"></figure>
							<figure class="fig-turn"><img src="/images/sub-navi/sub-navi3-00003.jpg"></figure>
						</div>
						<div class="item-detail-above-title">
							<h3>Chain</h3>
							<p>Chain创立于2014年，是一家业界知名的加州初创企业，他们帮助机构与企业定制部署区块链基础设施。团队前身是Albumatic，一个照片共享的应用程序。2015年，Chain完成新一轮3000万美元融资，投资方包括Visa公司、纳斯达克、花旗风投、RRE Ventures、第一资本金融公司、Fiserv公司、Orange SA等金融巨头。</p>
						</div>
					</div>
					<div class="item-detail-bellow">
						<h4 ><a href="https://chain.com/">Chain官网</a></h4>
						<h4 class="bellow-middle"><a href="https://chain.com/docs/1.2/protocol/papers/whitepaper">白皮书</a></h4>
						<h4 ><a href="https://github.com/chain">github</a></h4>
					</div>
	            </div>
	        </li>
			<li>
				<div class="item-detail" id="item-detail-hover">
					<div class="item-detail-above">
						<div class="figure-box">
							<figure class="fig-normal"><img src="/images/sub-navi/sub-navi3-00004.jpg"></figure>
							<figure class="fig-turn"><img src="/images/sub-navi/sub-navi3-00004.jpg"></figure>
						</div>
						<div class="item-detail-above-title">
							<h3>cryptape</h3>
							<p>
							秘猿科技（Cryptape Co., Ltd.）专注于研究与开发区块链技术，总部位于杭州。2011年起，秘猿核心团队开始参与各种区块链项目的研发，以太坊 Ethereum 是其中之一。2016年6月，秘猿发布了自主研发的商用区块链通用平台CITA。</p>
						</div>
					</div>
					<div class="item-detail-bellow">
						<h4 ><a href="https://www.cryptape.com/#/">秘猿官网</a></h4>
						<h4 class="bellow-middle"><a href="https://github.com/cryptape/cita-whitepaper">白皮书</a></h4>
						<h4 ><a href="https://github.com/cryptape">github</a></h4>
					</div>
				</div> 
	        </li>
	    </ul>
	</div>

</div>
<div class="tab-navi">
<!--tab1-->
	<div class="am-container">
		 <div class="sub-navi-top">
	        <h2 class="sub-navi-title"><span>数字货币</span><a href="#">查看更多<img src="/images/sub-navi/more-ico.png" /></a></h2>
	        <p class="sub-navi-title-desc"></p>
	     </div><!-- /.post-area-top -->
	    <ul class="padding-none banner2 am-gallery am-avg-sm-2 am-avg-md-4 am-avg-lg-4 am-gallery-overlay" data-am-gallery="{ pureview: true }" >
	        <li>
				<div class="item-detail" id="item-detail-hover">
						<div class="item-detail-above">
							<div class="figure-box">
								<figure class="fig-normal"><img src="/images/sub-navi/sub-navi2-00001.jpg"></figure>
								<figure class="fig-turn"><img src="/images/sub-navi/sub-navi2-00001.jpg"></figure>
							</div>
							<div class="item-detail-above-title">
								<h3>比特币</h3>
								<p>
								比特币（BitCoin）的概念最初由中本聪在2009年提出，根据中本聪的思路设计发布的开源软件以及建构其上的P2P网络。比特币是一种P2P形式的数字货币。点对点的传输意味着一个去中心化的支付系统。
								</p>
							</div>
						</div>
						<div class="item-detail-bellow">
							<h4 ><a href="https://bitcoincore.org/">BitCoin官网</a></h4>
							<h4 class="bellow-middle"><a href="https://github.com/dappsclub/bitcoinwhitepaper">白皮书</a></h4>
							<h4 ><a href="https://github.com/bitcoin/bitcoin">github源码</a></h4>
						</div>
				</div>	
	        </li>
	        <li>
				<div class="item-detail" id="item-detail-hover">
					<div class="item-detail-above">
						<div class="figure-box">
							<figure class="fig-normal"><img src="/images/sub-navi/sub-navi2-00002.jpg"></figure>
							<figure class="fig-turn"><img src="/images/sub-navi/sub-navi2-00002.jpg"></figure>
						</div>
						<div class="item-detail-above-title">
							<h3>莱特币</h3>
							<p>
							莱特币Litecoin（简写：LTC，货币符号：Ł）是一种基于“点对点”(peer-to-peer)技术的网络货币，也是MIT/X11许可下的一个开源软件项目。莱特币受到了比特币（BTC）的启发，并且在技术上具有相同的实现原理，莱特币的创造和转让基于一种开源的加密协议，不受到任何中央机构的管理
							</p>
						</div>
					</div>
					<div class="item-detail-bellow">
						<h4 ><a href="http://litecoin.org/">LiteCoin官网</a></h4>
						<h4 class="bellow-middle"><a href="https://github.com/dappsclub/bitcoinwhitepaper">白皮书</a></h4>
						<h4 ><a href="https://github.com/litecoin-project/">github源码</a></h4>
					</div>
				</div>
	        </li>
	        <li>
	            <div class="item-detail" id="item-detail-hover">
					<div class="item-detail-above">
						<div class="figure-box">
							<figure class="fig-normal"><img src="/images/sub-navi/sub-navi2-00003.jpg"></figure>
							<figure class="fig-turn"><img src="/images/sub-navi/sub-navi2-00003.jpg"></figure>
						</div>
						<div class="item-detail-above-title">
							<h3>以太币(ETH)</h3>
							<p>
							Ethereum（以太坊）是一个平台和一种编程语言，使开发人员能够建立和发布下一代分布式应用。 Ethereum可以用来编程，分散，担保和交易任何事物：投票，域名，金融交易所，众筹，公司管理， 合同和大部分的协议，知识产权，还有得益于硬件集成的智能资产。
							</p>
						</div>
					</div>
					<div class="item-detail-bellow">
						<h4 ><a href="https://www.ethereum.org/">ETH官网</a></h4>
						<h4 class="bellow-middle"><a href="https://github.com/dappsclub/bitcoinwhitepaper">白皮书</a></h4>
						<h4 ><a href="https://github.com/litecoin-project/">github</a></h4>
					</div>
				</div>
	        </li>
	        <li>
	            <div class="item-detail" id="item-detail-hover">
					<div class="item-detail-above">
						<div class="figure-box">
							<figure class="fig-normal"><img src="/images/sub-navi/sub-navi2-00004.jpg"></figure>
							<figure class="fig-turn"><img src="/images/sub-navi/sub-navi2-00004.jpg"></figure>
						</div>
						<div class="item-detail-above-title">
							<h3>以太经典(ETC)</h3>
							<p>
							以太经典 (Ethereum Classic) 是经过以太坊项目针对DAO资金问题进行硬分叉后未遵从或未升级的以太坊区块分支，保留了原有以太坊的代码规则和特色。以太坊区块链硬分叉之后，出现了原有以太坊网络与新的网络Ethereum Classic并存的状况。一群坚持区块链核心价值的开发者组成Ethereum Classic，发行独立的加密货币ETC。作为一种完整的货币，吸引了之前错失投资机会的一批人；而且与原有以太坊的相似之处，也是一种坚守以太坊模式的方式。
							</p>
						</div>
					</div>
					<div class="item-detail-bellow">
						<h4 ><a href="https://ethereumclassic.github.io/">ETC官网</a></h4>
						<h4 class="bellow-middle"><a href="https://github.com/dappsclub/bitcoinwhitepaper">白皮书</a></h4>
						<h4 ><a href="https://ethereumclassic.github.io/">github</a></h4>
					</div>
				</div>
	        </li>
	    </ul>
	</div>

</div>


<div class="tab-navi">
<!--tab1-->
	<div class="am-container">
		 <div class="sub-navi-top">
	        <h2 class="sub-navi-title"><span>交易平台</span><a href="#">查看更多<img src="/images/sub-navi/more-ico.png"/></a></h2>
	        <p class="sub-navi-title-desc"></p>
	     </div><!-- /.post-area-top -->
	    <ul class="padding-none banner2 am-gallery am-avg-sm-2 am-avg-md-4 am-avg-lg-4 am-gallery-overlay" data-am-gallery="{ pureview: true }" >
	        <li>
				<div class="item-detail" id="item-detail-hover">
						<div class="item-detail-above">
							<div class="figure-box">
								<figure class="fig-normal"><img src="/images/sub-navi/sub-navi4-00001.jpg"></figure>
								<figure class="fig-turn"><img src="/images/sub-navi/sub-navi4-00001.jpg"></figure>
							</div>
							<div class="item-detail-above-title">
								<h3>BITFINEX</h3>
								<p>
								Bitfinex是一家以香港为基地，由iFinex Inc.拥有和经营的加密货币交易和货币存储平台。 [1] [2]自2014年以来，它一直是最大的比特币交易平台，超过10％交易所的交易。 [3] 2016年，Bitfinex遭到黑客入侵，7200万美元的比特币被盗用。
								</p>
							</div>
						</div>
						<div class="item-detail-bellow">
							<h4 ><a href="https://www.bitfinex.com/">Bitfinex官网</a></h4>
							
						</div>
				</div>	
	        </li>
	        <li>
				<div class="item-detail" id="item-detail-hover">
					<div class="item-detail-above">
						<div class="figure-box">
							<figure class="fig-normal"><img src="/images/sub-navi/sub-navi4-00002.jpg"></figure>
							<figure class="fig-turn"><img src="/images/sub-navi/sub-navi4-00002.jpg"></figure>
						</div>
						<div class="item-detail-above-title">
							<h3>POLONIEX</h3>
							<p>
							Poloniex（poloniex.com）可以交易101个币种可交易到BTC、ETH、USDT、XMR等4个基准货币，Poloniex一家位于美国的数字资产交易提供最大的安全性和先进的交易特征。</p>
						</div>
					</div>
					<div class="item-detail-bellow">
						<h4 ><a href="https://poloniex.com/">POLONIEX官网</a></h4>
					</div>
				</div>
	        </li>
	        <li>
	            <div class="item-detail" id="item-detail-hover">
					<div class="item-detail-above">
						<div class="figure-box">
							<figure class="fig-normal"><img src="/images/sub-navi/sub-navi4-00003.jpg"></figure>
							<figure class="fig-turn"><img src="/images/sub-navi/sub-navi4-00003.jpg"></figure>
						</div>
						<div class="item-detail-above-title">
							<h3>HitBTC</h3>
							<p>
							HitBTC在159个市场上可交易到EUR、USD、BTC、ETH等4个基准货币,全球交易平台的多货币支持，hitbtc菲亚特交易提供适当的市场，包括美元和欧
							</p>
						</div>
					</div>
					<div class="item-detail-bellow">
						<h4 ><a href="https://hitbtc.com">HitBTC官网</a></h4>
						
					</div>
				</div>
	        </li>
	        <li>
	            <div class="item-detail" id="item-detail-hover">
					<div class="item-detail-above">
						<div class="figure-box">
							<figure class="fig-normal"><img src="/images/sub-navi/sub-navi4-00004.jpg"></figure>
							<figure class="fig-turn"><img src="/images/sub-navi/sub-navi4-00004.jpg"></figure>
						</div>
						<div class="item-detail-above-title">
							<h3>Bittrex</h3>
							<p>
							 Bittrex是于2015年推出它支持数百个货币对,包括比特币和其他加密货币的美国的货币交换。它仅支持英文,没有一个联盟计划。对于cryptocurrency交易这个</p>
						</div>
					</div>
					<div class="item-detail-bellow">
						<h4 ><a href="https://ethereumclassic.github.io/">Bittrex官网</a></h4>
					</div>
				</div>
	        </li>
	    </ul>
	</div>

</div>

<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
    <a href="#top" title="回到顶部">
        <span class="am-gotop-title">回到顶部</span>
        <i class="am-gotop-icon am-icon-chevron-up"></i>
    </a>
</div>

<footer>
    <div class="content">
        <!--<ul class="am-avg-sm-5 am-avg-md-5 am-avg-lg-5 am-thumbnails">
            <li><a href="#">联系我们</a></li>
            <li><a href="#">加入我们</a></li>
            <li><a href="#">合作伙伴</a></li>
            <li><a href="#">广告及服务</a></li>
            <li><a href="#">友情链接</a></li>
        </ul>-->
        <div class="btnlogo"><img src="/images/btnlogo.png"/></div>
        <p>DAppsClub © 2017<br/> </p>
        <div class="w2div">
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-2 am-avg-lg-2 am-gallery-overlay" data-am-gallery="{ pureview: true }" >
            <li class="w2" >
                <div class="am-gallery-item">
                    <a href="/Temp-images/dd.jpg">
                        <img src="/Temp-images/lianku.jpg" />
                        <h3 class="am-gallery-title">订阅号：链酷</h3>
                    </a>
                </div>
            </li>
            <li class="w2" >
                <div class="am-gallery-item" >
                    <a href="/Temp-images/dd.jpg">
                        <img src="/Temp-images/chaincoo.jpg"/>
                        <h3 class="am-gallery-title" font-size="15px">服务号：ChainCoo</h3>
                    </a>
                </div>
            </li>
        </ul>
        </div>
    </div>
</footer>
</body>
</html>