<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

	
    <!--360 browser -->
    <!--<meta name="renderer" content="webkit">-->
    <!--<meta name="author" content="wos">-->
    <!-- Android -->
    <!--<meta name="mobile-web-app-capable" content="yes">-->

    <!--Safari on iOS -->
    <!--<meta name="apple-mobile-web-app-capable" content="yes">-->
    <!--<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
    <!--<meta name="apple-mobile-web-app-title" content="Link Coo"/>-->
    <!--<link rel="apple-touch-icon-precomposed" href="/images/i/ico.png">-->
    <!--Win8 or 10 -->
    <!--<meta name="msapplication-TileImage" content="/images/i/ico.png">-->
    <!--<meta name="msapplication-TileColor" content="#e1652f">-->
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/public-index.css">
	<link rel="stylesheet" type="text/css" href="/css/tab-navi.css">
    <link rel="stylesheet" type="text/css" href="/css/tab-news.css">
	

    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="/assets/js/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lte IE 8 ]>
    <![endif]-->
    <script src="/assets/js/amazeui.min.js"></script>
    <script src="/js/public.js"></script>
    <script type="text/javascript">
	    
    </script>
    <style>
    
		.am-topbar-nav > li > a:hover{
		background-color:#33333;
		}
   /* .svg-wrapper{display:inline-block;border-radius:3px;}*/
   /* #shape{stroke-width:3px;fill:transparent;stroke:#863410;stroke-dasharray:85 400;stroke-dashoffset:-150;transition:1s all ease}*/
   /* .svg-wrapper:hover 
    .svg-wrapper svg{
    	height: auto;
    	width: 100%;
    }
   */
	/*#shape{stroke-dasharray:400 0;stroke-width:3px;stroke-dashoffset:0;stroke:#863410}*/
	
	</style>
</head>
<body>

<header class="am-topbar am-topbar-fixed-top wos-header">
    <div class="am-container">
        <h1 class="am-topbar-brand">
            <!-- <a href="#"><img src="images/logo.png" alt=""></a> -->
			<span style="font-size:3.5rem;font-family: '微软雅黑';color:#fff">QKapps<span style="font-size:1.5rem;margin-left:5px;margin-bottom:0px;"></span></span>
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-warning am-show-sm-only"
                data-am-collapse="{target: '#collapse-head'}">
            <span class="am-sr-only" >导航切换</span>
            <span class="am-icon-bars"></span>
        </button>

        <div class="am-collapse am-topbar-collapse" id="collapse-head">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li class="am-active" ><a href="#" style="color:#fff">区块链导航站</a></li>
                <!-- <li><a href="zixun.html">资讯</a></li>
                <li><a href="category.html">专栏</a></li>
                <li><a href="events.html">论坛</a></li> -->
            </ul>

            <!--<div class="am-topbar-right">
                <button class="am-btn am-btn-default am-topbar-btn am-btn-sm"><span class="am-icon-pencil"></span>注册</button>
            </div>

            <div class="am-topbar-right">
                <button class="am-btn am-btn-danger am-topbar-btn am-btn-sm"><span class="am-icon-user"></span> 登录</button>
            </div>-->
        </div>
    </div>
</header>
<!--banner-->
<div class="tab-top-news">
	<div class="am-container">
		<div  data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{"directionNav":false}'>
			<ul class="am-slides">
			  <li>
					<a href="#">
						<img src="/images/news/top-001.png" > <!--1200*300 4:1-->
						<div class="pet_slider_font" sttyle="position:absolute;bottom:20px;">  
							<span>从一个传统金融从业者的经历看比特币和区块链，两者究竟谁更重要？</span>
						</div>
						<div class="pet_slider_shadow"></div>
					</a>
			  </li>
			  <li>
					<a href="#">
					<img src="/images/news/top-002.jpg">
						<div class="pet_slider_font">
					
							<span>比特币场外交易监测报告：三家场外平台两周交易额达6.8亿元</span>
						</div>
						<div class="pet_slider_shadow"></div>
					</a>
			  </li>
			  <li>
					<a href="#">
						<img src="/images/news/top-003.jpg">
						<div class="pet_slider_font">

						<span>Qtum量子链创始人帅初出席《福布斯》30/30精英榜颁奖礼</span>
						</div>
						<div class="pet_slider_shadow"></div>
					</a>
			  </li>
			</ul>
		</div>
	</div>
</div>
<div class="tab-navi">
<!--tab1-->
	<div class="am-container">
		 <div class="sub-navi-top">
	        <h2 class="sub-navi-title">区 块 链 信 息</h2>
	        <p class="sub-navi-title-desc">How to redefine the world</p>
	     </div><!-- /.post-area-top -->
	    <ul class="padding-none banner2 am-gallery am-avg-sm-2 am-avg-md-4 am-avg-lg-4 am-gallery-overlay" data-am-gallery="{ pureview: true }" >
	        <li>
	            <div class="am-gallery-item svg-wrapper">
	            <!--  <svg  xmlns="http://www.w3.org/2000/svg">  -->
	             		<!-- <rect id="shape"/></rect> -->
	              		<a href="https://baike.baidu.com/item/%E5%8C%BA%E5%9D%97%E9%93%BE/13465666?fr=aladdin">
						
							<img src="/images/sub-navi/sub-navi1-001.jpg"  alt="区块链是什么"/>
						
							<h3 class="am-gallery-title" >区块链是什么</h3>
						</a>	
				<!-- 	</svg>	 -->
	            </div>
	        </li>
	        <li>
	            <div class="am-gallery-item">
					
					<a href="https://baike.baidu.com/tashuo/browse/content?id=a079f3de5842ea20d7a44bfb&fr=qingtian&lemmaId=13465666">
						<img src="/images/sub-navi/sub-navi1-002.jpg"  alt="区块链带来什么变革"/>
						<h3 class="am-gallery-title" >区块链，将如何重新定义世界</h3>
						<!--<div class="am-gallery-desc">2375-09-26</div>-->
					</a>
						
	            </div>
	        </li>
	        <li>
	            <div class="am-gallery-item">
		          
					<a href="https://cn.hyperledger.org/">
						<img src="/images/sub-navi//sub-navi1-003.jpg"  alt="超级账本，开源社区"/>
						<h3 class="am-gallery-title">超级账本，开源社区</h3>
						<div class="am-gallery-desc">2375-09-26</div>
					</a>
			           
	            </div>
	        </li>
	        <li>
	            <div class="am-gallery-item">
		          
					<a href="http://finance.huanqiu.com/cjrd/2017-01/9909057.html">
						<img src="/images/sub-navi//sub-navi1-004.jpg"  alt="区块链产业发展现状与展望！"/>
						<h3 class="am-gallery-title">区块链产业发展现状与展望！</h3>
						<div class="am-gallery-desc">2375-09-26</div>
					</a>
			    
	            </div>
	        </li>

	    </ul>
	</div>

</div>
<div class="tab-navi">
<!--tab1-->
	<div class="am-container">
		 <div class="sub-navi-top">
	        <h2 class="sub-navi-title">数 字 货 币</h2>
	        <p class="sub-navi-title-desc">Bolckchian Explorer</p>
	     </div><!-- /.post-area-top -->
	    <ul class="padding-none banner2 am-gallery am-avg-sm-2 am-avg-md-4 am-avg-lg-4 am-gallery-overlay" data-am-gallery="{ pureview: true }" >
	        <li>
	            <div class="am-gallery-item">
		       
					<a href="https://blockchair.com/">
						<img src="/images/sub-navi/sub-navi2-001.jpg"  alt="区块链是什么"/>
						<h3 class="am-gallery-title" style="position:absolute;">blockchair</h3>
					<!-- 	<h3 class="am-gallery-subhead" style="display:none;position:absolute;bottom:0px;">区块链是什么,从这里开始了解</h3> -->
						<!--<div class="am-gallery-desc">2375-09-26</div>-->
					</a>
	
							
						
	            </div>
	        </li>
	        <li>
	            <div class="am-gallery-item">
					
					<a href="http://blockdozer.com/insight/">
						<img src="/images/sub-navi/sub-navi2-002.png"  alt="bitfinex"/>
						<h3 class="am-gallery-title" >bolckzoder explorer</h3>
						<!--<div class="am-gallery-desc">2375-09-26</div>-->
					</a>
						
	            </div>
	        </li>
	        <li>
	            <div class="am-gallery-item">
		          
					<a href="https://insight.is/p.com/exchanges/coinfloor/">
						<img src="/images/sub-navi//sub-navi2-003.png"  alt="Insight"/>
						<h3 class="am-gallery-title">Insight:An open-source bitcoin blockchain API</h3>
						<div class="am-gallery-desc">2375-09-26</div>
					</a>
			           
	            </div>
	        </li>
	        <li>
	            <div class="am-gallery-item">
		          
					<a href="https://www.bitcoincash.org/">
						<img src="/images/sub-navi//sub-navi2-004.png"  alt="HitBtc"/>
						<h3 class="am-gallery-title">BitCoin Cash:Peer-to-Peer Electronic Cas</h3>
						<div class="am-gallery-desc">2375-09-26</div>
					</a>
			    
	            </div>
	        </li>
	    </ul>
	</div>

</div>
<div class="tab-navi">
<!--tab1-->
	<div class="am-container">
		
			 <div class="sub-navi-top">
		        <h2 class="sub-navi-title">交 易 平 台</h2>
		        <p class="sub-navi-title-desc">bitcoin trading platform</p>
		     </div><!-- /.post-area-top -->
		    <ul class="padding-none banner2 am-gallery am-avg-sm-2 am-avg-md-4 am-avg-lg-4 am-gallery-overlay" data-am-gallery="{ pureview: true }" >
		        <li>
		            <div class="am-gallery-item">
			       
						<a href="https://changelly.com/">
							<img src="/images/sub-navi/sub-navi3-001.jpg"  alt="区块链是什么"/>
							<h3 class="am-gallery-title" style="position:absolute;">Changelly</h3>
						<!-- 	<h3 class="am-gallery-subhead" style="display:none;position:absolute;bottom:0px;">区块链是什么,从这里开始了解</h3> -->
							<!--<div class="am-gallery-desc">2375-09-26</div>-->
						</a>
		
								
							
		            </div>
		        </li>
		        <li>
		            <div class="am-gallery-item">
						
						<a href="https://www.bitfinex.com/">
							<img src="/images/sub-navi/sub-navi3-002.jpg"  alt="bitfinex"/>
							<h3 class="am-gallery-title" >Bitfinex</h3>
							<!--<div class="am-gallery-desc">2375-09-26</div>-->
						</a>
							
		            </div>
		        </li>
		        <li>
		            <div class="am-gallery-item">
			          
						<a href="https://coinmarketcap.com/exchanges/coinfloor/">
							<img src="/images/sub-navi//sub-navi3-003.jpg"  alt="Coinfloor"/>
							<h3 class="am-gallery-title">Coinfloor</h3>
							<div class="am-gallery-desc">2375-09-26</div>
						</a>
				           
		            </div>
		        </li>
		        <li>
		            <div class="am-gallery-item">
			          
						<a href="https://hitbtc.com/">
							<img src="/images/sub-navi//sub-navi3-004.jpg"  alt="HitBtc"/>
							<h3 class="am-gallery-title">HitBtc</h3>
							<div class="am-gallery-desc">2375-09-26</div>
						</a>
				    
		            </div>
		        </li>
		    </ul>
	  
	</div>

</div>
<div class="tab-news">
<!--tab1-->
	<div class="am-container" style="width:100%;">
		<div class="sub-navi-top">
			<h2 class="sub-navi-title">最 新 资 讯</h2>
			<p class="sub-navi-title-desc">Latest Informations</p>
		</div>
		<ul class="padding-none banner2 am-gallery   am-avg-sm-2 am-avg-md-4 am-avg-lg-4    am-gallery-overlay" data-am-gallery="{ pureview: true }" > <!--*am-avg-sm-2*-->
			<li style="width:40%;">
			<div class="tab-news-left" style="width:100%">
				
				<div class="span6 home-reviews">
			
				  <!-- Header -->
					<div class="header">
					   <div class="base">
						<h4>每日新闻</h4>
						 <a href="#" title="mores" style="font-size:1rem;">更多...</a>
					   </div>
					   <div class="arrow arrow-left"></div>
					   <div class="arrow arrow-right"></div>
					</div>
				
					<div class="tab-content" style="float:left,margin-top:20px;">
						<div class="tab-pane active" id="tab-populars">
					   
							<div class="item">
							 <figure class="pull-left"><img src="/images/300/1.jpg" alt="Thumbnail 1" /></figure>
							 <div class="pull-right content">
							  <h4><a href="http://www.8btc.com/kazakhstan-limit-cryptocurrency-trading" title="哈萨克斯坦央行：个人加密货币交易活动应受到限制">哈萨克斯坦央行：个人加密货币交易活动应受到限制</a></h4>
							  <p class="meta">349 views&nbsp;&nbsp;|&nbsp;&nbsp;49 comments</p>
							 </div>
							</div>
						   
							
							<div class="item">
							 <figure class="pull-left"><img src="/images/300/2.jpg" alt="Thumbnail 2" /></figure>
							 <div class="pull-right content">
							  <h4><a href="http://www.8btc.com/uk-regulator-finds-dlt-businesses-have-trouble-seeing-loans" title="英国金融管理局：分布式账本技术创业公司遭受银行打压，无法获得银行服务">英国金融管理局：分布式账本技术创业公司遭受银行打压，无法获得银行服务</a></h4>
							  <p class="meta">283 views&nbsp;&nbsp;|&nbsp;&nbsp;42 comments</p>
							 </div>
							</div>
						   
							
							<div class="item">
							 <figure class="pull-left"><img src="/images/300/3.jpg" alt="Thumbnail 3" /></figure>
							 <div class="pull-right content">
							  <h4><a href="http://www.8btc.com/credit-suisse-banker-skys-limit-blockchain-technology" title="瑞士信贷银行银行家：只有天空才是区块链的极限，比特币只是区块链的第一种杀手APP">瑞士信贷银行银行家：只有天空才是区块链的极限，比特币只是区块链的第一种杀手APP</a></h4>
							  <p class="meta">209 views&nbsp;&nbsp;|&nbsp;&nbsp;35 comments</p>
							 </div>
							</div>
						   
							
							<div class="item">
							 <figure class="pull-left"><img src="/images/300/2.jpg" alt="Thumbnail 4" /></figure>
							 <div class="pull-right content">
							  <h4><a href="shttp://www.8btc.com/bitcoin-no-fraud-royal-bank-canada" title="加拿大皇家银行：比特币不是欺诈，但的确存在问题">加拿大皇家银行：比特币不是欺诈，但的确存在问题</a></h4>
							  <p class="meta">109 views&nbsp;&nbsp;|&nbsp;&nbsp;39 comments</p>
							 </div>
							</div>
						   
						
							<div class="item">
							 <figure class="pull-left"><img src="/images/300/3.jpg" alt="Thumbnail 5" /></figure>
							 <div class="pull-right content">
							  <h4><a href="http://www.8btc.com/south-korea-supervision-bitcoin-trading-imf-reform" title="韩国比特币交易监管收紧，交易所将面临现场核查">韩国比特币交易监管收紧，交易所将面临现场核查</a></h4>
							  <p class="meta">90 views&nbsp;&nbsp;|&nbsp;&nbsp;22 comments</p>
							 </div>
							</div>
						</div> 
					</div> 
				</div> 
				
			</div>
			</li>
			<li style="width:30%;">
				<div class="news-middle" style="width:100%;float:left">
				  <figure>
				   <img src="images/300/m-001.jpg" alt="Thumbnail 3" />
				   <div class="cat-name">
					<span class="base">区块链资讯</span>
					<span class="arrow"></span>
				   </div>
				  </figure>
				  <div class="text">
					   <h2><a href="single_post.html" title="View permalink House in The Woods">北美区块链协会谭磊：我眼里的区块链技术，是这样的，怎么样的呢</a></h2>
					   <p class="text-focus">说到区块链技术，总会有一个关键词与其密切相连——颠覆性。很多业内人士都认为，区块链技术是继蒸汽机、电力、互联网之后的下一代颠覆性的核心技术。作为以构造...</p>
					   <div class="news-middle-bolck-list">
							<div class="item">
								 <figure class="pull-left"><img src="images/300/1.jpg" alt="Thumbnail 1" /></figure>
								 <div class="pull-right content">
								  <h4><a href="http://www.8btc.com/kazakhstan-limit-cryptocurrency-trading" title="哈萨克斯坦央行：个人加密货币交易活动应受到限制">哈萨克斯坦央行：个人加密货币交易活动应受到限制</a></h4>
								  <p class="meta">349 views&nbsp;&nbsp;|&nbsp;&nbsp;49 comments</p>
								 </div>
							</div>
							<div class="item">
							 <figure class="pull-left"><img src="images/300/2.jpg" alt="Thumbnail 2" /></figure>
								<div class="pull-right content">
									  <h4><a href="http://www.8btc.com/uk-regulator-finds-dlt-businesses-have-trouble-seeing-loans" title="英国金融管理局：分布式账本技术创业公司遭受银行打压，无法获得银行服务">英国金融管理局：分布式账本技术创业公司遭受银行打压，无法获得银行服务</a></h4>
									  <p class="meta">283 views&nbsp;&nbsp;|&nbsp;&nbsp;42 comments</p>
								</div>
							</div>
							<div class="item">
							  <figure class="pull-left"><img src="images/300/2.jpg" alt="Thumbnail 2" /></figure>
								 <div class="pull-right content">
									<h4><a href="http://www.8btc.com/uk-regulator-finds-dlt-businesses-have-trouble-seeing-loans" title="英国金融管理局：分布式账本技术创业公司遭受银行打压，无法获得银行服务">英国金融管理局：分布式账本技术创业公司遭受银行打压，无法获得银行服务</a></h4>
								  <p class="meta">283 views&nbsp;&nbsp;|&nbsp;&nbsp;42 comments</p>
								 </div>
							</div>
					   </div>
				  </div>
				</div>
			</li>
			<li style="width:30%;">
				<div class="news-middle" style="width:100%;float:right;">
				  <figure>
				   <img src="images/300/r-001.jpg" alt="title" />
				   <div class="cat-name">
					<span class="base">货币资讯</span>
					<span class="arrow"></span>
				   </div>
				  </figure>
				  <div class="text">
						<h2><a href="single_post.html" title="View permalink House in The Woods">北美区块链协会谭磊：我眼里的区块链技术，是这样的，怎么样的呢</a></h2>
					   <p class="text-focus">说到区块链技术，总会有一个关键词与其密切相连——颠覆性。很多业内人士都认为，区块链技术是继蒸汽机、电力、互联网之后的下一代颠覆性的核心技术。作为以构造...</p>
					   <div class="news-middle-bolck-list">
							<div class="item">
								 <figure class="pull-left"><img src="images/300/1.jpg" alt="Thumbnail 1" /></figure>
								 <div class="pull-right content">
								  <h4><a href="http://www.8btc.com/kazakhstan-limit-cryptocurrency-trading" title="哈萨克斯坦央行：个人加密货币交易活动应受到限制">哈萨克斯坦央行：个人加密货币交易活动应受到限制</a></h4>
								  <p class="meta">349 views&nbsp;&nbsp;|&nbsp;&nbsp;49 comments</p>
								 </div>
							</div>
							<div class="item">
							 <figure class="pull-left"><img src="images/300/2.jpg" alt="Thumbnail 2" /></figure>
								<div class="pull-right content">
									  <h4><a href="http://www.8btc.com/uk-regulator-finds-dlt-businesses-have-trouble-seeing-loans" title="英国金融管理局：分布式账本技术创业公司遭受银行打压，无法获得银行服务">英国金融管理局：分布式账本技术创业公司遭受银行打压，无法获得银行服务</a></h4>
									  <p class="meta">283 views&nbsp;&nbsp;|&nbsp;&nbsp;42 comments</p>
								</div>
							</div>
							<div class="item">
							  <figure class="pull-left"><img src="images/300/2.jpg" alt="Thumbnail 2" /></figure>
								 <div class="pull-right content">
									<h4><a href="http://www.8btc.com/uk-regulator-finds-dlt-businesses-have-trouble-seeing-loans" title="英国金融管理局：分布式账本技术创业公司遭受银行打压，无法获得银行服务">英国金融管理局：分布式账本技术创业公司遭受银行打压，无法获得银行服务</a></h4>
								  <p class="meta">283 views&nbsp;&nbsp;|&nbsp;&nbsp;42 comments</p>
								 </div>
							</div>
					   </div>
				  </div>
				</div>
			</li>
		</ul>
	</div>

</div>

<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
    <a href="#top" title="回到顶部">
        <span class="am-gotop-title">回到顶部</span>
        <i class="am-gotop-icon am-icon-chevron-up"></i>
    </a>
</div>

<footer>
    <div class="content">
        <!--<ul class="am-avg-sm-5 am-avg-md-5 am-avg-lg-5 am-thumbnails">
            <li><a href="#">联系我们</a></li>
            <li><a href="#">加入我们</a></li>
            <li><a href="#">合作伙伴</a></li>
            <li><a href="#">广告及服务</a></li>
            <li><a href="#">友情链接</a></li>
        </ul>-->
        <div class="btnlogo"><img src="/images/btnlogo.png"/></div>
        <p>链酷出品 © 2017<br/> </p>
        <div class="w2div">
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-2 am-avg-lg-2 am-gallery-overlay" data-am-gallery="{ pureview: true }" >
            <li class="w2" >
                <div class="am-gallery-item">
                    <a href="/Temp-images/dd.jpg">
                        <img src="/Temp-images/lianku.jpg" />
                        <h3 class="am-gallery-title">订阅号：链酷</h3>
                    </a>
                </div>
            </li>
            <li class="w2" >
                <div class="am-gallery-item" >
                    <a href="/Temp-images/dd.jpg">
                        <img src="/Temp-images/chaincoo.jpg"/>
                        <h3 class="am-gallery-title" font-size="15px">服务号：ChainCoo</h3>
                    </a>
                </div>
            </li>
        </ul>
        </div>
    </div>
</footer>
</body>
</html>