/*
抖动
*/
@keyframes news-pic-bounce {
 0%, 100% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  20% {
    -moz-transform: rotateY(30eg);
    -ms-transform: rotateY(30eg);
    -webkit-transform: rotateY(30eg);
    transform: rotateY(30eg);
  }

  40% {
    -moz-transform: rotateY(50eg);
    -ms-transform: rotateY(50eg);
    -webkit-transform: rotateY(50eg);
    transform: rotateY(50eg);
  }

  60% {
    -moz-transform: rotateY(-50deg);
    -ms-transform: rotateY(-50deg);
    -webkit-transform: rotateY(-50deg);
    transform: rotateY(-50deg);
  }
  80% {
    -moz-transform: rotateY(-30deg);
    -ms-transform: rotateY(-30deg);
    -webkit-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
  }
  90% {
    -moz-transform: rotateY(-15deg);
    -ms-transform: rotateY(-15deg);
    -webkit-transform: rotateY(-15deg);
    transform: rotateY(-15deg);
  }
  100% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

}

/*end*/
.tab-news .am-container .am-slides .pet_slider_font{
	padding-bottom:0px;
}
.tab-news .am-container .am-slides img{
	position:relative;
}
.tab-news .am-container .am-slides .pet_slider_font {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis; 
	width:100%;
	background-color:rgba(0, 0, 0, 0.1);
	color:#fff;
	text-align:left;
    bottom:0px;
    left: 5px;
    z-index: 8;
	opacity:0.8;
	text-align:center;
	height:23px;
}
.tab-news .am-container .li-toutiao  .cat-name {
	position:absolute; 
	margin-top:50px;
	z-index:8;
	margin-left:-10px;
	height:auto;
	color:#FFF;
	font-family:Oswald, Arial, sans-serif;
	text-transform:uppercase;
	
}
.tab-news .am-container .li-toutiao  .cat-name .base {
	background-color:#24b300;
	padding:5px 20px 5px 15px;
	display:block;
	font-size:14px;
}
.tab-news .am-container .li-toutiao  .cat-name .arrow {
	display:block;
	position:absolute;
	width:0;
	height:0;
	border-right:10px solid #24b300;
	border-bottom:10px solid transparent;	
}
			
.tab-news .am-container .am-slides .pet_slider_font span{
	margin-top:0px;
	padding-left:2px;
	float:left;
	font-size:1.5rem;
	color:#000;
	vertical-align:bottom;
	font-weight:bold;
}
.tab-news .am-container .am-slides  .detail{
	overflow:hidden;
	display:-webkit-box;
	text-overflow:ellipsis;
	-webkit-line-clamp:4;
	-webkit-box-orient:vertical;
	color:#000;
	top:10px;
}
.tab-news  .news-middle .news-middle-block-list .item .pull-right1{
	width:100%;
	float:left;
	margin-left:5px;
	font-size:1.3rem;
}
.tab-news  .news-middle .news-middle-block-list .news-list h4{
	padding:0px;
	display: block;
    -webkit-margin-before: 0.4em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.tab-news .tab-news-left{
	width:40%;
}


.tab-news .tab-news-left a:focus {
  color: #2277AA;
}
.tab-news a{
	color:#000;
}

.tab-news  .home-reviews {
	border:1px solid #bababa;
	padding:70px 20px 20px 20px;
	position:relative;
	margin-bottom:20px;
	height:auto;
}
	.home-reviews .header, .home-galleries .header {
		position:absolute;
		top:25px;
		left:-10px;
		right:-10px;
	}
		.home-reviews .header .base, .home-galleries .header .base {
			background-color:#24b300;
			padding:12px 20px 12px 30px;
			float:left;
			width:100%;
		}
			.home-reviews .header .base h4, .home-galleries .header .base h4 {
				float:left;
				color:#FFF;
				font-family:Oswald, Arial, sans-serif;
				text-transform:uppercase;
				font-size:15px;
				line-height:1em;
				margin:0px;
			}
			.home-reviews .header .base a, .home-galleries .header .base a {
				float:right;
				color:#e0e0e0;
				font-size:20px;
				font-family:Bitter, serif;
				line-height:1em;	
			}
			.home-reviews .header .base a:hover, .home-galleries .header .base a:hover { color:#2277AA; }
		
		.home-reviews .header .arrow, .home-galleries .header .arrow {
			display:block;
			position:absolute;
			width:0;
			height:0;
			top:100%;
		}
		.home-reviews .header .arrow.arrow-left, .home-galleries .header .arrow.arrow-left {
			border-right:10px solid #24b300/*#4a6075*/;
			border-bottom:10px solid transparent;	
		}
		.home-reviews .header .arrow.arrow-right, .home-galleries .header .arrow.arrow-right {
			right:0;
			border-left:10px solid #24b300;
			border-bottom:10px solid transparent;	
		}
		.home-reviews .tab-content h4 a{
			white-space:nowrap;
			overflow:hidden;
			text-overflow:ellipsis; 
			display:block;
		}
		

	.home-reviews .tab-content {
	    overflow: auto;
	    width:80%;
	    height:auto;
		margin-left:1%;
		clear:both;
	}

	.tab-content .tab-pane{
		padding:10px 0px 0px 0px;
		background-color:transparent;
	}
	.home-reviews figure{
		float:left;
		height: 40px;
		width: 15%;
	}
	figure img{
	    max-width: 100%;
	    width: auto\8;
	    height: auto;
	    vertical-align: middle;
	    border: 0;
	}
	.home-reviews .tab-content .pull-right{
		padding: 0px 0 0 0px;
		float: right;
	    width: 77%;
	    margin-left: 1%;
	}
	.home-reviews .tab-content .item{
		background-color: #f3f3f3;
	}
	.home-reviews .tab-content .pull-right h4{
		height: 100%;
		font-size: 1.3rem;
		margin-left:3%;
		color:#000;
	}
	.home-reviews .tab-content .pull-right h4 a{
		color:#000;
	}
	.home-reviews .tab-content .meta{
		margin: 10px 5px 0px 5px;
		font-size: 1.0rem;
		margin-left:3%;
		padding-bottom:5px;
		border-bottom:1px solid #b3b3b3;
	}
	.home-reviews .tab-content #tab-populars{
		width:100%;
	}
	.home-reviews .tab-content {
	    overflow: auto;
	    width:100%;
	    /*height: :450px;*/
	}
	.home-reviews .tab-content .tab-pane{
		padding:10px 0px 0px 0px;
		background-color:transparent;
	}
	.home-reviews .item{
		height: 80px;
		width: 97%;
		margin: 0 0 0px 0;
	}
	
	.home-reviews .pull-left{
		float: left;
	}
	.home-reviews .item  figure{
		float:left;
		height: 40px;
		width: 22%;
	}
	.home-reviews .tab-news-left .tab-content figure img{
	    max-width: 100%;
	    width: auto\9;
	    height: auto;
	    vertical-align: middle;
	    border: 0;
	}


	
	.tab-news .am-container .news-middle figure { 
		position:relative; 
		width:100%;
		margin-bottom:5px;
	}
	.tab-news .am-container .news-middle img { 
		position:relative; 
		width:100%;
		height:auto;
	}
	.tab-news .am-container .news-middle:hover .news-middle-fig-top img { 
		-webkit-animation: news-pic-bounce 0.3s alternate;
		  -moz-animation: news-pic-bounce 0.3s alternate;
		  -o-animation: news-pic-bounce 0.3s alternate;
		  animation: news-pic-bounce 0.3s alternate;
		
	}
		.tab-news .news-middle figure .cat-name {
			position:absolute;
			bottom:50px;
			left:-10px;
			color:#FFF;
			font-family:Oswald, Arial, sans-serif;
			text-transform:uppercase;
			
		}
		.tab-news .news-middle figure .cat-name .base {
				background-color:#24b300;
				padding:5px 20px 5px 15px;
				display:block;
				font-size:14px;
			}
			.tab-news  .news-middle figure .cat-name .arrow {
				display:block;
				position:absolute;
				width:0;
			    height:0;
			    border-right:10px solid #24b300;
			    border-bottom:10px solid transparent;	
			}
			
			.tab-news  .news-middle .text h2 {
				border-left:2px solid #035858;
				height:23px;
				margin-bottom:5px;
			}
			.tab-news  .news-middle .text h2 a{
				margin-left:8px;
				white-space:nowrap;
				overflow:hidden;
				text-overflow:ellipsis; 
				display:block;
				font-size:1.6rem;
				color:#24b300;
				font-weight:500;
			}
			.tab-news  .news-middle .text .text-focus{
				font-size:12px;
				border-bottom:1px solid #000;
				padding-bottom:2px;
				margin-bottom:3px;
				margin-top:0px;
				
				overflow:hidden;
				display:-webkit-box;
				text-overflow:ellipsis;
				-webkit-line-clamp:3;
				-webkit-box-orient:vertical;
			}
			
			.tab-news  .news-middle .news-middle-block-list {
				width:100%;
				float:left;
				height:auto;
				margin-top:5px;
			}
			.tab-news  .news-middle .news-middle-block-list a{
				font-weight:500;
			}
			.tab-news  .news-middle .news-middle-block-list .item {
				width:100%;
				float:left;
			}
			.tab-news  .news-middle .news-middle-block-list .item  figure{
				width:20%;
				float:left;
				margin-bottom:5px;
			}
			.tab-news .news-middle .news-middle-block-list .item .pull-left img{
				max-width:100%;
				width:auto\8;
				height:auto;
				vertical-align: middle;
				
			}
			.tab-news  .news-middle .news-middle-block-list .item .pull-right{
				width:75%;
				float:left;
				margin-left:5px;
				font-size:1.3rem;
			}
			.tab-news  .news-middle .news-middle-block-list .item .pull-right h4{
				white-space:nowrap;
				overflow:hidden;
				text-overflow:ellipsis; 
				display:block;
				padding:0px;
				margin-bottom:0.5rem;
			}
			.tab-news  .news-middle .news-middle-block-list .item .pull-right .meta{
				margin-bottom:0rem;
				margin-top:0.3rem;
				padding:0px;
				font-size:1.0rem;
			}
/****tab-news-detail****/

.tab-news-detail .am-container .news-detail-contents{
	margin-top:20px;
	border:1px solid #F0f3f4;
	box-shadow:  0 0 5px #24b300;
}
.tab-news-detail .am-container  .crumbs-navi{
	margin:20px 0px 0px 0px;
	width:65%;
}
.tab-news-detail .am-container  .crumbs-navi label img{
	display: inline-block;
    height: 14px;
    vertical-align: middle;
    margin: -2px 5px 0 5px;
	background-image: url("images/i/cumbs-navi.jpg");
}
.tab-news-detail .am-container .crumbs-navi span{
	color:#24b300;
}
.tab-news-detail .am-container .news-detail-contents .news-titles{
	margin: 20px 0;
	font-size:2.6rem;
}
.tab-news-detail .am-container .news-detail-contents .news-titles .news-info{
	font-size:1.2rem;
	background-color:#f0f3f4;
	padding:8px 5px 5px 5px;
}
.tab-news-detail .am-container .news-detail-contents .news-titles .news-info span{
	margin:0px 10px 0px 5px;
}
.tab-news-detail .am-container .news-detail-contents .news-titles .news-info .views-comments{
	float:right;
}
.tab-news-detail .am-container .news-detail-contents .news-titles .news-info .views-comments img{
	width:20px;
	margin-right:5px;
	margin-bottom:5px;
}

.tab-news-detail .am-container .news-detail-contents .contents .content-info{
	color:#9a9a9a;
	font-size:1.3rem;
	margin-top:20px;  
}
.tab-news-detail .am-container .news-detail-contents .contents .content-info div{
	margin-top:5px;
}
.tab-news-detail .am-container .news-detail-contents .prev-next {
	float:left;
}
.tab-news-detail .am-container .news-detail-contents .prev-next div{
	width:48.5%;
	font-size:1.5rem;
	color:#666666;
	border-left:3px solid #24b300;
	padding-left:10px;
}
.tab-news-detail .am-container .news-detail-contents .prev-next a{
	color:#666666;
}
.tab-news-detail .am-container .news-detail-contents .prev-next a:hover{
	color:#24b300;
}
.tab-news-detail .am-container .news-detail-contents .prev-next .next{
	float:right;
	overflow:hidden;
	display:-webkit-box;
	text-overflow:ellipsis;
	-webkit-line-clamp:1;
	-webkit-box-orient:vertical;
}
.tab-news-detail .am-container .news-detail-contents .prev-next .prev{
	float:left;
	overflow:hidden;
	display:-webkit-box;
	text-overflow:ellipsis;
	-webkit-line-clamp:1;
	-webkit-box-orient:vertical;
}
.tab-news-detail .am-container .news-detail-contents .comments{
	margin-top:20px;
	float:left;
}