.tab-navi{
    	margin-top: 20px;
    }
    
	.sub-navi-top{
		
        color: #333;
	}
    .sub-navi-title{
        font-size: 1.7em;
        font-weight: 800;
        text-transform: uppercase;
        background-color: #fff;
        margin: 10px 0 0px 0px;
        display: block;
        line-height: 1.1;
        color: #24b300;
        position: relative;
		font-family: '黑体';
		padding-left:1%;
    }
	 .sub-navi-title a{
		 float:right;
		 font-size:1.0rem;
		 color:#24b300;
		 vertical-align:bottom;
		 margin-bottom:0px;
	 }
	 .sub-navi-title a img{
		 width:30px;
		 padding-left:0px;
		 
	 }
	.sub-navi-title span{
		border-left:2px solid #24b300;
		padding-left:1%;
	}
    /*.sub-navi-title:before,*/ 
	/*..sub-navi-title:after{
        content: '';
        background-color: #24b300;
		margin-left:10px;
        top: 50%;
        height: 1px;
        position: absolute;
        width: 80%;
        box-sizing: border-box;
		
    }
    /*.sub-navi-title:before{
        float: left;
        left: 15px;
    }
  
    .sub-navi-title-desc{
        color:#e1652f;
        margin-top: 5px;
        font-size: 15PX;
        font-family: 'Consolas';
    }*/
    .am-gallery-item img{
    	border-radius: 5px;
    	opacity: 0.8;
    }
   .am-gallery-item h3{
    	border-radius: 0 0px 8px 8px;
    	opacity: 0.8;
    	color:#863410;
    }

/* new navi style*/
.tab-navi .am-container .item-detail{
	border:1px solid #bababa;
	padding:2px;
	height:auto;
	border-radius: 5px;
	width:100%;
	box-sizing: border-box;
    vertical-align: middle;
	overflow:auto;
}

#item-detail-hover:hover{
	cursor: pointer;
	box-shadow:  0 0 10px #24b300/*#133333*/;
}
.tab-navi .am-container .item-detail .item-detail-above{
	float:left;
}
.tab-navi .am-container .item-detail .item-detail-above figure{
	float:left;
	width:30%;
}
.tab-navi .am-container .item-detail .item-detail-above figure img{
	border-radius: 0px;
	opacity:0.8;
}
/*-----logo image trun----*/

.figure-box{
	position: relative;

}
 .figure-box .fig-normal{
	transform: rotateY(0);
	transition: all 0.7s ease-in-out 0s;
}

.figure-box .fig-turn{
	transform: rotateY(90deg);
	transition: all 0.7s ease-in-out 0s;
	width: 100%;
    height: auto;
    position: absolute;
    margin-top: 0;
    left: 0;
    text-align: center;
	
}
.item-detail:hover .fig-turn{
	margin-top:0px;
	transform: rotateY(0);
}
.figure-box:hover .fig-normal{
	transform: rotateY(-90deg);
}
/*-----logo image trun end----*/

.tab-navi .am-container .item-detail .item-detail-above h3{
	font-size:2rem;
	font-family:'微软雅黑';
}
.tab-navi .am-container .item-detail .item-detail-above .item-detail-above-title{
	width:65%;
	float:right;
}
.tab-navi .am-container .item-detail .item-detail-above p{
	font-size:1rem;
	margin:0px;
	padding:5px; 
	overflow:hidden;
	display:-webkit-box;
	text-overflow:ellipsis;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
}
.tab-navi .am-container .item-detail .item-detail-bellow{
	float:left;
	width:90%;
	padding-left:5px;
}
.tab-navi .am-container .item-detail .item-detail-bellow h4{
	float:left;
	font-size:1rem;
	padding:2%;
	margin:1% 1% 1% 1%;
	background-color: rgba(0, 0, 0, 0.1) /*#f0f3f4*/;
	border-radius: 3px;
}
.tab-navi .am-container .item-detail .item-detail-bellow .bellow-middle{
	margin-left:3%;
	margin-right:3%;
}
.tab-navi .am-container .item-detail .item-detail-bellow a{
	color:#5d5d5d;
}